.collectionProfile {
    width: 100%;
    margin-top: 2rem;
    z-index: 1;
}

.collectionProfile_box {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 3rem;
    align-items: center;
    background-color: var(--main-bg-color);
    box-shadow: var(--box-shadow);
    border-radius: 1rem;
    padding: 1rem 2rem;
}

.collectionProfile_box_left_img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.collectionProfile_box_left_social {
    display: flex;
    gap: 1rem;
    font-size: 1.3rem;
    align-items: center;
    justify-content: center;
    margin-top: .5rem;
}

.collectionProfile_box_left_social a{
    border: 1px solid var(--icons-color);
    border-radius: 50%;
    color: var(--main-bg-color);
    display: grid;
    padding: .3rem;
    transition: all .3s ease-in;
}

.collectionProfile_box_left_social a:hover {
    background-color: var(--main-bg-color);
    color: var(--icons-color);
    box-shadow: var(--box-shadow);
}

.collectionProfile_box_middle {
    display: grid;
    align-self: flex-start;
}

.collectionProfile_box_middle h1 {
    font-size: 2rem;
}

.collectionProfile_box_middle p {
    width: 70%;
}

.collectionProfile_box_middle_box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    background-color: var(--main-bg-color);
    margin-top: 1.5rem;
}

.collectionProfile_box_middle_box_item {
    background-color: var(--main-bg-color);
    box-shadow: var(--box-shadow);
    padding: 2rem 1rem;
    border-radius: 2rem;
    text-align: center;
}

.collectionProfile_box_middle_box_item p {
    font-size: 2rem;
}

.collectionProfile_box_middle_box_item small {
    display: block;
}

.collectionProfile_box_middle_box_item span {
    color: var(--icons-color);
}
@media screen and (max-width: 45em) {
    .collectionProfile_box{
        width: 90%;
        grid-template-columns: 1fr;
        padding: 1rem .5rem;
        gap: 1rem;
    }

    .collectionProfile_box_middle {
        padding: 1rem;
    }

    .collectionProfile_box_middle_box {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .collectionProfile_box_middle h1 {
        font-size: 1.8rem;
    }
    
    .collectionProfile_box_middle p{
        width: 100%;
        margin-top: -.5rem;
    }

    .collectionProfile_box_middle_box_item {
        padding: 2rem 1rem;
    }

    .collectionProfile_box_middle_box_item p {
        font-size: 1rem;
    }
}

@media screen and (max-width:1024px) {
    .collectionProfile_box {
        width: 90%;
    }

    .collectionProfile_box_middle h1 {
        font-size: 1.8rem;
    }

    .collectionProfile_box_middle_box {
        grid-template-columns: repeat(2, 1fr);
    }
}