.NFTDetailsImg {
    width: 90%;
    z-index: 10;
}

.NFTDetailsImg_box_NFT {
    display: grid;
}

.NFTDetailsImg_box_NFT_img {
    grid-column: 1 / -1;
    grid-row: 1 / end;
}

.NFTDetailsImg_box_NFT_img_img {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
}

.NFTDetailsImg_box_NFT_like {
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column: 1 / -1;
    grid-row: 1 / end;
    z-index: 1123;
    align-self: flex-start;
    padding: 1rem;
}

.NFTDetailsImg_box_NFT_like p {
    background-color: var(--icon-color);
    padding: .2rem 1rem;
    color: var(--main-bg-color);
    display: flex;
    align-items: center;
    gap: .5rem;
    border-radius: 2rem;
    cursor: pointer;
}

.NFTDetailsImg_box_NFT_like_icon {
    font-size: 1.4rem;
}

.NFTDetailsImg_box_details,
.NFTDetailsImg_box_description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--icon-bg-color);
    border-radius: .5rem;
    padding-inline: 1rem;
    cursor: pointer;
}

.NFTDetailsImg_box_details_box,
.NFTDetailsImg_box_description_box {
    padding: .1rem 1rem;
    font-size: 1rem;
}

.NFTDetailsImg_box_details_box p {
    font-size: 1rem;
}