.FollowerTabCard_box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: var(--shadow-light-color);
    border-radius: 2rem;
    transition: all .2s ease-in;
    cursor: pointer;
    position: relative;
}

.FollowerTabCard_box:hover {
    box-shadow: var(--box-shadow);
}

.FollowerTabCard_rank {
    position: absolute;
    z-index: 11111;
    background-color: var(--icons-color);
    color: var(--main-bg-color);
    margin: 1rem;
    padding: .1rem .5rem;
    border-radius: 2rem;
    border: 1px solid var(--icons-color);
    transition: all .3 ease-in;
}

.FollowerTabCard_rank:hover {
    background-color: var(--main-bg-color);
    color: var(--icons-color);
}

.FollowerTabCard_box_img {
    grid-column: 1/-1;
}
.FollowerTabCard_box_img_img {
    border-radius: 2rem;
}

.FollowerTabCard_box_profile {
    grid-column: 1/-1;
    text-align: center;
    margin-top: -2rem;
    position: relative;
}

.FollowerTabCard_box_profile_img {
    border-radius: 50%;
    padding: .4rem;
    background-color: var(--main-bg-color);
    z-index: 1;
    /* margin: 1rem; */
}
/* .FollowerTabCard_box_profile::before {
    position: absolute;
    content: "";
    width: 5rem;
    height: 5rem;
    background-color: var(--main-bg-color);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    top: -20%;
    left: 37%;
} */



.FollowerTabCard_box_info {
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -1rem;
    padding-inline: 1rem;
    padding-bottom: 1rem;
}

.FollowerTabCard_box_info h4 {
    font-size: 1rem;
}

.FollowerTabCard_box_info_following_before{
    background-color: var(--background-btn);
    color: #fff;
    padding: .7rem 1.5rem;
    border-radius: 2rem;
    /* border: 1px solid var(--background-btn); */
    transition: all .3s ease-in;
}

.FollowerTabCard_box_info_following_before :hover{
    /* background-color: transparent; */
    background-color: #095d88;
    cursor: pointer;
}
.FollowerTabCard_box_info_following_after {
    background-color: var(--main-bg-color);
    background-color: transparent;
}
 .FollowerTabCard_box_img_img {
    width: 100%;
}

@media screen and (min-device-width:320px ) and (max-device-width:430px) {
    .FollowerTabCard_box_info {
        padding-inline: 2rem;
    }

    .FollowerTabCard_box_img_img {
        height: 200;
    }
}