.bigNFTSlider_box {
    margin: 0 auto;
    width: 80%;
    padding-block: 2rem;
    padding-bottom: 8rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
}

.bigNFTSlider_box_left {
    grid-column: 1 / 7;
    grid-row: 1 / -1;
    background-color: var(--main-bg-color);
    box-shadow: var(--box-shadow-2);
    border-radius: 1rem;
    padding: 2rem;
    z-index: 1111;
    height: 550px;
}
.bigNFTSlider_box_left h2 {
    font-size: 2rem;
    line-height: 0;
}

.bigNFTSlider_box_right {
    grid-column: 6 / -1;
    grid-row: 1 / -1; 
    /* padding: 1rem; */
    background-color: var(--main-bg-color);
    border-radius: 2.5rem;
    box-shadow: var(--main-bg-color);
}

/* .bigNFTSlider_box_right_imageNFT{
    align-items: center;
    max-width: 100%;
    height: auto;
} */
/* CREATOR SECTION */

.bigNFTSlider_box_left_creator {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.bigNFTSlider_box_left_creator_profile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.bigNFTSlider_box_left_creator_profile_img{
    border-radius: 50%;
}

.bigNFTSlider_box_left_creator_profile_info p{
    margin-bottom: -.5rem;
    padding-top: .5rem;
}

.bigNFTSlider_box_left_creator_profile_info h4 {
    display: flex;
    align-items: center;
}
.bigNFTSlider_box_left_creator 
.bigNFTSlider_box_left_creator_collection {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.bigNFTSlider_box_left_creator_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    /* margin-right: 1rem; Adjust the value as needed */
}

.bigNFTSlider_box_left_bidding {
    display: flex;
    justify-content: center;
}
.bigNFTSlider_box_left_bidding_box {
    width: 100%;
    border: 3px solid var(--shadow-dark-color);
    margin-block: 1.5rem;
    padding: 0 4rem;
    border-radius: .5rem;
}
.bigNFTSlider_box_left_bidding_box_auction {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.bigNFTSlider_box_left_bidding_box small {
    background-color: var(--shadow-dark-color);
    padding: 0.78rem 2rem;
    border-radius: .5rem;
    font-weight: 600;
    margin-top: -2rem;
}
.bigNFTSlider_box_left_bidding_box p {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
}
.bigNFTSlider_box_left_bidding_box_icon {
    font-size: 1.5rem;
}

.bigNFTSlider_box_left_bidding_box_timer_item {
    flex: 1; /* Adjust to control the width of each timer item */
}

.bigNFTSlider_box_left_bidding_box_timer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-items: center;
    justify-content: space-around; /* Adjust as needed */
    gap: 1rem; /* Adjust as needed */
    text-align: center;
    border-bottom: 1px solid var(--shadow-dark-color);
    margin: 3rem 0rem;
}

.bigNFTSlider_box_left_bidding_box_timer_item p {
    font-size: 1.5rem;
    font-weight: 900;
}

.bigNFTSlider_box_left_button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding-block: 1rem 2rem ;
}

.bigNFTSlider_box_left_sliderBtn{
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;
    margin-top: 2rem;
}

.bigNFTSlider_box_left_sliderBtn_icon {
    cursor: pointer;
    transition: all .3s ease-in;
}

.bigNFTSlider_box_left_sliderBtn_icon:hover {
    background-color: var(--shadow-dark-color);
    border-radius: 50%;
    padding: 1rem;
}
/* RIGHT SECTION */
.bigNFTSlider_box_right_box {
    position: relative;
    /* border-radius: 3rem; */
}

.bigNFTSlider_box_right_box_img {
    width: 100%;
    padding: 1rem;
    background-color: var(--shadow-light-color);
    border-radius: 2rem;
    height: 630px;
    /* border: 1px solid var(--box-shadow-2); */
    box-shadow: var(--shadow-dark-color);
}

.bigNFTSlider_box_right_box_like{
    position: absolute;
    top: 3rem;
    right: 3rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.2rem;
    background-color: var(--shadow-dark-color);
    border-radius: 2rem;
    color: red;
    padding: 0.5rem 1rem;
}

@media screen and (max-width:1222px){
    .bigNFTSlider_box{
        width: 95%;
        /* display: flex; */
    }
    .bigNFTSlider_box_left_bidding_box_timer {
        margin: 1rem;
    }
    .bigNFTSlider_box_left_button {
        padding-block: 0rem ;
    }
}
@media screen and (max-width: 650px){
    .bigNFTSlider_box{
        width: 95%;
        /* padding-top: 28rem; */
        /* grid-template-columns: 1fr;
        gap: 1rem; */
        display: flex;
        flex-direction: column;
    }
    .bigNFTSlider_box_left{
        grid-column: 7 / 1;
        grid-row: 20 / 2;
        height: auto;
        padding: 1.5rem;
    }
    .bigNFTSlider_box_left_bidding_box_timer {
        margin: 0;
    }
    .bigNFTSlider_box_left_button {
        padding-block:1rem ;
    }
    
    .bigNFTSlider_box_right {
        /* margin: -70rem; */
    }
    .bigNFTSlider_box_right_box_like {
        top: 1.5rem;
        right: 1.5rem;
    }
    .bigNFTSlider_box_right_box_img{
        height: 400px;
    }
    .bigNFTSlider_box_left_creator {
        gap: 1rem;
        grid-template-columns: 1.3fr 1fr;
    }
    .bigNFTSlider_box_left_creator_profile_info {
        font-size: .8rem;
        line-height: 1;
    }

    .bigNFTSlider_box_left_creator_collection_icon {
        font-size: 1.5rem;
    }
    
    .bigNFTSlider_box_left_creator_collection_info {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: .8rem;
    }

    .bigNFTSlider_box_left_creator_collection_info p {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bigNFTSlider_box_left_bidding_box small {
        display: block;
    }
    .bigNFTSlider_box_left_bidding_box_icon {
        font-size: 1rem;
    }
    .bigNFTSlider_box_left_bidding_box_timer {
        gap: 2rem;
    }

    .bigNFTSlider_box_left_bidding_box_timer p {
        font-size: 1rem;
    }
}