/* .discover {
    padding: .2rem 1rem;
    transition: all .3s ease-in;
    z-index: 222222222;
    display: flex;
}
.discover{
    text-decoration: none;
}

.discover:hover {
    background-color: var(--icons-color);
    color: var(--shadow-dark-color);
    border-radius: .3rem;
} */