.DropZone {
    /* width: 100%; */
    margin-block: 3rem;
    margin: 0 auto;
}

.DropZone_box { /* Set a maximum width */
    margin: 0 auto;
    border: 5px dotted var(--icons-color);
    border-radius: 1rem;
    box-sizing: border-box;
    text-align: center;
    padding: 1rem;
    cursor: pointer;
    margin-bottom: .5rem;
}

.DropZone_box_input_img {
    display: flex;
justify-content: center;
}

.DropZone_box_input_img_img {
    border-radius: 1rem;
    width: 100%;
    /* filter: invert(); */
}
.DropZone_box_input_img_img_one {
    display: flex;
    justify-content: center;
}

.DropZone_box_aside {
    /* visibility: hidden; */
    padding: 2rem;
    border: 3px dotted var(--icons-color);
    margin-top: 3rem;
    border-radius: 1rem;
    margin: auto;
}

.DropZone_box_aside_box {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.DropZone_box_aside_box_preview p span {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 1rem;
}

.DropZone_box_aside_box_preview_one {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 700;
    font-size: 1.2rem;
}

.DropZone_box_aside_box_preview_three {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}