.reSellToken {
    width: 90%;
}

.reSellToken_box{
    width: 70%;
    margin: auto;
}
.contactus_box_box {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 5rem;
    align-items: center;
    align-self: flex-start;
    margin-bottom: 10rem;
}

.reSellToken_box_image {
    width: 100%;
    border-radius: 1rem;
}

@media screen and (max-width: 768px) {
    .contactus_box_box{
        grid-template-columns: 1fr;
        gap: 0;
    }

    .reSellToken_box_value {
        margin-top: -3rem;
        margin-bottom: 3rem;
    }
    .reSellToken_box{
        width: 70%;
        margin: auto;
    }
}